<%= form_with model: school, local: true do |form| %>
  <% if school.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= school.errors.count %>件のエラーがあります</b></p>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
