<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">”い（生、活）きる力”を育てる</h2>
                <hr class="light">
                <p class="text-faded">考えよう、新しい教育のカタチを</p>
                <p class="text-faded">聞こう、自らのココロの声を</p>
                <p class="text-faded">互いを高め合うプラットフォーム、T NOTEで</p>
                <a href="/users/sign_up" class="btn btn-default btn-xl">始めよう!</a>

    </div>
</section>
