<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">何かお困りですか？</h2>
                <hr class="primary">
                <p>お困りのことがございましたら、電話・メールでご連絡いただけます！</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
                <p>受付:9:00〜17:00</p>
                <p>月〜金曜日(祝日、年末除く)</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">Hayashi@gmail.com</a></p>
                <p>24時間受付</p>
                <p>確認次第、返信いたします！</p>
            </div>
        </div>
    </div>
</section>
